# **Topics**   
1. Augmented Assignment Operators (`+=, -=, *=, /=, %=, //=`)
2. Warlus Operators (`:=)
3. Comparison Operators (`==, <, >, <=, >=, !=`)
4. Logical Operators (`and, or, not`)
5. Control Flow

## **Python Augmented Assignment Operators**


| Operator | Name | Example | Equivalent to |
|----------|------|---------|---------------|
| `+=` | Addition and assign | `x += y` | `x = x + y` |
| `-=` | Subtraction and assign | `x -= y` | `x = x - y` |
| `*=` | Multiplication and assign | `x *= y` | `x = x * y` |
| `/=` | Division and assign | `x /= y` | `x = x / y` |
| `%=` | Modulus and assign | `x %= y` | `x = x % y` |
| `//=` | Floor division and assign | `x //= y` | `x = x // y` |
| `**=` | Exponentiation and assign | `x **= y` | `x = x ** y` |

## **Comparison Operators**   

| Operator | Name | Example | Explanation |
|----------|------|---------|-------------|
| `==` | Equal to | `x == y` | Returns `True` if both values are equal |
| `!=` | Not equal to | `x != y` | Returns `True` if values are not equal |
| `>` | Greater than | `x > y` | Returns `True` if x is greater than y |
| `<` | Less than | `x < y` | Returns `True` if x is less than y |
| `>=` | Greater than or equal to | `x >= y` | Returns `True` if x is greater than or equal to y |
| `<=` | Less than or equal to | `x <= y` | Returns `True` if x is less than or equal to y |
| `is` | Identity | `x is y` | Returns `True` if both variables reference the same object |
| `is not` | Negated identity | `x is not y` | Returns `True` if variables reference different objects |
| `in` | Membership | `x in y` | Returns `True` if x is found in the sequence y |
| `not in` | Negated membership | `x not in y` | Returns `True` if x is not found in the sequence y |

## **Logical Operators**

| Operator | Name | Example | Explanation |
|----------|------|---------|-------------|
| `and` | Logical AND | `x and y` | Returns `True` if both statements are true |
| `or` | Logical OR | `x or y` | Returns `True` if at least one statement is true |
| `not` | Logical NOT | `not x` | Returns `True` if the statement is false |

In [ ]:
# Falsy Values
value_01 : None = None
value_02 : int = 0
value_03 : float = 0.0
value_04 : str = ""
Value_05 : bool = False
value_06 : list[None] = []

print(f"The value '{value_01}' evaluates to: {bool(value_01)} \n")
print(f"The value '{value_02}' evaluates to: {bool(value_02)} \n")
print(f"The value '{value_03}' evaluates to: {bool(value_03)} \n")
print(f"The value '{value_04}' evaluates to: {bool(value_04)} \n")
print(f"The value '{Value_05}' evaluates to: {bool(Value_05)} \n")
print(f"The value '{value_06}' evaluates to: {bool(value_06)} \n")

In [ ]:
# = -> assignment
print("rehan" == 'Rehan')
print(4 == 5)
print(2 != 4) # evaluate to True
print(8 < 10)
print(8 > 10)
print(8 <= 8)
print(8 >= 9)

False
False
True
True
False
True
False

In [ ]:
age: int = 30
result = age + 10
print(result)

40

In [ ]:
age: int = 30
age = age + 10
print(age)

40

In [ ]:
age: int = 30

age += 10
print(age)

40

In [1]:
age: int = 30

age -= 10
print(age)

20

In [ ]:
name = 'rehan'
name2 = 'usman'

print(name == name2)

False

In [ ]:
# The capital of Pakistan is Islamabad
# yes, no, maybe
# yes, no --> True, False

In [ ]:
name = 'usman'
print(name)

usman

In [ ]:
# warlus operation :=
# print(name5)
print(name5:='Musa')

Musa

In [ ]:
age6 = 17
nationality = 'pakistan'

#logical operatos and, or, not
print(age6 == 17 and nationality=='pakistani')

# short-circuit evaluation

# True and True -> True
# False and True -> False
# True and False -> False
# False and False -> False

# mutilication 0-> Flase 1-> True
# 0 * 1 = 0
# 0 * 0 = 0
# 1 * 0 = 0
# 1 * 1 = 1

# or
# Addition 0-> Flase 1-> True
# 0 + 1 = 1
# 0 + 0 = 0
# 1 + 0 = 1
# 1 + 1 = 1

print(age6 == 17 or nationality=='pakistani')

# short-circuit evaluaiton

# True or True -> True
# False or True -> True
# True or False -> True
# False or False -> False

False

In [ ]:
# control flows

user_age = 18
nationality = 'pakistan'

# if user_ age  > = 18 and nationality == Pakistan "passport issue else your are too young not eligible "

if user_age >=18 and  nationality == "pakistan":
  print("Passport issue")
else:
  print("you are too young")

Passport issue

In [ ]:
valid_user_name ="usman"
valid_user_password="123"


user_name = input("Enter your user name..")
user_Password = input("Enter your password...")

if user_name == valid_user_name and user_Password == valid_user_password:
  print("Login Successful")
else:
  print("Invalid Credentials")

Enter your user name..usman
Enter your password...123
Login Successful

In [ ]:
#MFA OTP

valid_mfa = "8743"
valid_user_name ="usman"
valid_user_password="123"


user_name = input("Enter your user name..")
user_Password = input("Enter your password...")
user_mfa = input("Enter your MFA code...")

if user_name == valid_user_name and user_Password == valid_user_password:
  print("Login Successful")
elif user_mfa == valid_mfa:
  print("your are logged in with MFA")
else:
  print("Invalid Credentials")

Enter your user name..usman
Enter your password...123
Enter your MFA code...fff
Login Successful

# Assignment-01
# match vs if else

When to use:

Use if-else for complex conditions.

Use match for clean, readable multiple value checks (like enums, status codes, commands).

In [2]:
x = 10

if x > 0:
    print("Positive")
elif x == 0:
    print("Zero")
else:
    print("Negative")

Positive

In [4]:
status = 200

match status:
    case 200:
        print("OK")
    case 404:
        print("Not Found")
    case _:
        print("Unknown status")

OK

In [8]:
# switch statement
score = 70

match score:
  case 90:
    print("Grade A")
  case 80:
    print("Grade B+")
  case 70:
      print("Grade B")

Grade B

# Ternary operator

In [ ]:
valid_user_name ="danish"
valid_user_password="321"


user_name = input("Enter your user name..")
user_Password = input("Enter your password...")

# if user_name == valid_user_name and user_Password == valid_user_password:
#   print("Login Successful")
# else:
#   print("Invalid Credentials")

message = "Login Successful" if user_name == valid_user_name and user_Password == valid_user_password else "Invalid Credentials"

print(message)

Login Successful

In [ ]:
# This part of code is repeating itself and violates DRY principle.
# We will see how we can use Loops to run  a block of code repeatedly through Loops

valid_user_name ="danish"
valid_user_password="123"


user_name = input("Enter your user name..")
user_Password = input("Enter your password...")

if user_name == valid_user_name and user_Password == valid_user_password:
  print("Login Successful")
else:
  print("Invalid Credentials")


# ==================

user_name = input("Enter your user name..")
user_Password = input("Enter your password...")

if user_name == valid_user_name and user_Password == valid_user_password:
  print("Login Successful")
else:
  print("Invalid Credentials")

# ==================

user_name = input("Enter your user name..")
user_Password = input("Enter your password...")

if user_name == valid_user_name and user_Password == valid_user_password:
  print("Login Successful")
else:
  print("Invalid Credentials")

# ...

Login Successful
Login Successful
Invalid Credentials

# Loops

### For Loop

In [16]:
#DRY
# Loop

valid_user_name ="mehmood"
valid_user_password="123"

# For range  => starting to ending:  loop run

for num_of_attempts in range(3):
  user_name = input("Enter your user name..")
  user_Password = input("Enter your password...")
  
message = "Login Successful" if user_name == valid_user_name and user_Password == valid_user_password else "Invalid Credentials"

print(message)

Login Successful

#Break statment

In [19]:
#DRY
# Loop

valid_user_name ="dani"
valid_user_password="123"

# For range  => starting to ending:  loop run

for num_of_attempts in range(3):
  user_name = input("Enter your user name..")
  user_Password = input("Enter your password...")
  if user_name == valid_user_name and user_Password == valid_user_password:
    print("Login Successful")
    break
  else:
    print("Invalid Credentials")

Login Successful

In [22]:
# continue

for i in range(5):  #n-1
  if i == 3:
    continue
  print(i)

0
1
2
4

In [ ]:
# how we'll implement for loop on list

# *While Loop*

In [ ]:
# while condition :
  # block of code
  # condition update

#### dry-run

In [ ]:
valid_user_name ="usman"
valid_user_password="123"


number_of_attempts = 3

while number_of_attempts > 0:  # 0 > 0 -> flase
  user_name = input("Enter your user name..") # usman
  user_Password = input("Enter your password...") #123

     # (usman ==  usman) true  and 123 == 123
  if user_name == valid_user_name and user_Password == valid_user_password:
    print("Login Successful")
  else:
    print("Invalid Credentials")

  print("===========")
  number_of_attempts -= 1 #1 -1 = 0

Enter your user name..usman
Enter your password...1222
Invalid Credentials
===========
Enter your user name..uus
Enter your password...5555
Invalid Credentials
===========
Enter your user name..usman
Enter your password...123
Login Successful
===========