## **String Operators**

1. Concatenation

In [2]:
str1 ="Hello"
str2 ="  World"

print(str1 + str2)

Hello  World

2. Repetition (*)
   
   The * operator is used to repeat a string a specified number of times.

In [3]:
str1 = "Hello"
result = str1 * 3
print(result)  # Output: "HelloHelloHello"

HelloHelloHello

3. Membership (in, not in)
   
   3a. Membership Operators

   The in and not in operators are used to check whether a substring exists within a string.

In [4]:
str = "Hello" 
print("Hello" in str)
print("hello" not in str)
print("Hello" not in str)

True
True
False

4. String Length

In [5]:
str = "Pakistan"
print(len(str))

8

5. Indexing

In [6]:
str = "Hello"
print(str[0])
print(str[-1])
print(str[1:3])
print(str[:2])
print(str[3:])

H
o
el
He
lo

6. Slicing ([start:stop:step])

In [7]:
str1 = "Hello World"
print(str1[0:5])  # Output: "Hello"
print(str1[6:11]) # Output: "World"

Hello
World

7. String Comparison (==, !=, <, >, <=, >=)

In [8]:
str1 = "Hello"
str2 = "World"
print(str1 == str2)  # Output: False
print(str1 != str2)  # Output: True
print(str1 < str2)   # Output: True (since "H" comes before "W" lexicographically)

False
True
True

8. String Formatting (%, .format(), f-strings)

In [9]:
name = "Danish"
age  = 32
print("student name is %s and age is %d."  %(name,age))

student name is Danish and age is 32.

In [10]:
print("My name is {} and i am {}".format(name,age))

My name is Danish and i am 32

In [11]:
print(f"my name is {name} and i am {age}")

my name is Danish and i am 32

formatted_string

In [12]:
pi = 3.14159
formatted_string = "The value of pi is approximately %.2f" % pi
print(formatted_string)  # Output: "The value of pi is approximately 3.14"

The value of pi is approximately 3.14

Integers into Hexadecimal

In [13]:
number = 255
formatted_string = "The hexadecimal representation of %d is %x" % (number, number)
print(formatted_string)  # Output: "The hexadecimal representation of 255 is ff"

The hexadecimal representation of 255 is ff

Integers convert into Hexadecimal

In [14]:
number = 255
formatted_string = "The octal representation of %d is %o" % (number, number)
print(formatted_string)  # Output: "The octal representation of 255 is 377"

The octal representation of 255 is 377

Integers convert into Scientific Notations

In [15]:
number = 155
formatted_string = "The octal representation of %d is %e" % (number, number)
print(formatted_string)  # Output: "The octal representation of 255 is 377"

The octal representation of 155 is 1.550000e+02

Character convert into ASCII

In [16]:
char_code = 71
formatted_string = "The character for ASCII code %d is %c" % (char_code, char_code)
print(formatted_string)  # Output: "The character for ASCII code 65 is A"

The character for ASCII code 71 is G

In [17]:
text = "Hello\nWorld"
formatted_string = "Raw representation: %r" % text
print(formatted_string)  # Output: "Raw representation: 'Hello\\nWorld'"

Raw representation: 'Hello\nWorld'

9. Escape Sequence

```
\   -> Escape character
\n  -> Escape sequence
\n  -> Inserts new line
\\  -> Inserts backslash
\'  -> Inserts single quote
\"  -> Inserts double quote
\t  -> Inserts tab
\r  -> Moves the cursor to the start of the line
\a  -> Beeps
\b  -> Backspace
```

In [18]:
print("Python Programming in \"PIAIC\"")
print("Python Programming in \\PIAIC")
print("Python Programming in \nPIAIC")
print("Python Programming in \tPIAIC")

Python Programming in "PIAIC"
Python Programming in \PIAIC
Python Programming in
PIAIC
Python Programming in 	PIAIC

Move Cursor to the beginning of the line

In [19]:
print("Hello in Pakistan\rZindabad")

Zindabad Pakistan

In [20]:
## Backspace removes (erases) one character before it.
print("Python Programming in a\bPIAIC")

Python Programming in PIAIC

In [21]:
print("Python Programming in \aPIAIC")

Python Programming in PIAIC

10. Assignment Operators:

In [22]:
x:int = 10
y:float = 20.5
z:str = "Hello"
a:bool = True
print(type(x))  # Output: <class 'int'>
print(type(y))  # Output: <class 'float'>
print(type(z))  # Output: <class 'str'> `
print(type(a))  # Output: <class 'bool'>
print(type(x))  # Output: <class 'int'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'int'>

Multi-line Comments:

In [23]:
'''
This is a multi-line comment
spanning multiple lines.
'''
print("Hello, World!")

Hello, World!

. Type conversion

In [24]:
int_data : int = 10
float_data : float = 20.5


int_to_float : float = float(int_data)  # Convert int to float

print(type(int_to_float))  # Output: 10.0

<class 'float'>

13. `type`, `dir`, `id` Functions

- **`type`**: Provides the type of a variable.
- **`dir`**: Provides the list of attributes and methods of a variable.
- **`id`**: Provides the memory address of a variable.

In [25]:
w = True
x = 5
y = 3.0
z = "Hello"

print(type(w)) 
print(type(x))  
print(type(y))  
print(type(z))  

print(dir(w))  
print(dir(x)) 
print(dir(y))
print(dir(z))

print(id(w))  
print(id(x)) 
print(id(y))
print(id(z))

<class 'bool'>
<class 'int'>
<class 'float'>
<class 'str'>
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']
['__abs__', '__add__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getformat__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', 'as_integer_ratio', 'conjugate', 'fromhex', 'hex', 'imag', 'is_integer', 'real']
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
140720168905248
140720170374056
2701675322288
2701675458352

14. Mutable and Immutable Data Types

- **Mutable data types** are those that **can be changed** after they are created.
- **Immutable data types** are those that **cannot be changed** after they are created.

## Immutable Data Types:
- `int`
- `float`
- `str`
- `bool`

## Mutable Data Types:
- `list`
- `set`
- `dict`

---

**Note:**  
If you want to store multiple items, you would need to create a separate variable for each one.

In [26]:
## List
fruits = ["apple", "banana"]
fruits.append("cherry")  # List is changed (no new object)
print(fruits)  # Output: ['apple', 'banana', 'cherry']

['apple', 'banana', 'cherry']

In [27]:
#@set 
fruits = {"apple", "banana"}
fruits.add("cherry")  # Set is changed (no new object)
print(fruits)  # Output: {'banana', 'apple', 'cherry'}

{'cherry', 'apple', 'banana'}

In [28]:
student = {"name": "John", "age": 20}
student["age"] = 21  # Dictionary is changed (no new object)
print(student)  # Output: {'name': 'John', 'age': 21}

{'name': 'John', 'age': 21}

14. What is List?
    
A list in Python is like a container that can hold multiple items, one after another. Imagine you have a shopping list where you write down everything you need to buy. A Python list is very similar, but instead of just groceries, it can hold all kinds of things like numbers, words, or even other lists!

Store Multiple Items Together:
A list allows you to keep multiple items in one place. For example, if you want to keep track of all your students' names, you can store them in a list.

In [29]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [30]:
print(fruits[0])  # First item
print(fruits[1])  # Second item

apple
banana

In [31]:
fruits[1] = "blueberry"
print(fruits)

['apple', 'blueberry', 'cherry']

In [32]:
fruits.append("orange")
print(fruits)

['apple', 'blueberry', 'cherry', 'orange']

In [33]:
fruits.remove("blueberry")
print(fruits)

['apple', 'cherry', 'orange']

In [34]:
for fruit in fruits:
    print(fruit)

apple
cherry
orange

 Indexing

**Indexing** is how you access individual elements in a list using their position in the list.

In Python, lists are **zero-indexed**, meaning:

- The first element in a list is at **index 0**.
- The second element is at **index 1**.
- And so on.

```
Example:
fruits = ["apple", "banana", "cherry"]

print(fruits[0])  # Output: apple
print(fruits[1])  # Output: banana
print(fruits[2])  # Output: cherry
```

In [35]:
fruits = ["apple", "banana", "cherry"]

print(fruits[0])  # Output: apple
print(fruits[1])  # Output: banana
print(fruits[2])  # Output: cherry

apple
banana
cherry

Postive Indexing

In [36]:
pharse = "I love my country"
print(pharse[0:6])  # Output: I
print(pharse[2:])   # Output: love my country
print(pharse[:5])   # Output: I lov
print(pharse[2:7])  # Output: love
print(pharse[0:6:2]) # Output: I o

I love
love my country
I lov
love
Ilv

Negative Indexing

In [37]:
print(pharse[-1])
print(pharse[-2])
print(pharse[-7:])

y
r
country

In [38]:
pak = "Pakistanismycountry"
print(pak[0:8])  # Output: Pakistan
print(pak[-9:])  # Output: Pkain

Pakistan
mycountry

Reversing the entire string

In [39]:
phrase = "I love my country"
reversed_phrase = phrase[::-1]  # Reversing the entire string
print(reversed_phrase)

yrtnuoc ym evol I

In [40]:
print(pharse)
print(pharse[6:-2:1])

I love my country
 my count

In [41]:
zero_list = [0] * 5
print(zero_list)  # Output: [0, 0, 0, 0, 0]

# list concatenation
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2
print(combined_list)  # Output: [1, 2, 3, 4, 5, 6]

# list repetition
repeated_list = list1 * 3
print(repeated_list)  # Output: [1, 2, 3, 1, 2, 3, 1, 2, 3]

# list membership
a = 1 in list1
print(a)  # Output: True

b = 7 in list1
print(b)  # Output: False

# list length
length = len(list1)
print(length)  # Output: 3

# list and range function
new_list = list(range(10))
print(new_list)  # Output: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

message = "Hello, World!"
characters = list(message)
print(characters)  # Output: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

[0, 0, 0, 0, 0]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
True
False
3
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [42]:
# list unpacking
numbered_list = [4, 8, 6]
a, b, c = numbered_list
print(a)  # Output: 4
print(b)  # Output: 8
print(c)  # Output: 6

4
8
6

In [43]:
another_list = [1,2,3,4,5,6,7,8,9,10]
x, *y, z = another_list
print(x)  # Output: 1
print(y)  # Output: [2, 3, 4, 5, 6, 7, 8]
print(z)  # Output: 10

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

In [44]:
another_list = [1,2,3,4,5,6,7,8,9,10]
a, b, *c,d = another_list
print(a)  # Output: 1
print(b)  # Output: [2, 3, 4, 5, 6, 7, 8]
print(c)  # Output: 9
print(d)  # Output: 10

1
2
[3, 4, 5, 6, 7, 8, 9]
10

# **3rd May 2025**

In [ ]:
## dictionary vs list

student_name =["Ali", "Ahmed", "Sara"]
print(student_name[0])  # Output: Ali

Ali

In [47]:
student_name_with_dic : dict[str,int] = {
    "Ali": 1,
    "Ahmed": 2,
    "Sara": 3
}

print(student_name_with_dic["Ali"])  # Output: 1

1

In [48]:
## How to get the dic  list 

dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [97]:
student_name: dict[str,int] = {
    "Ali": 1,
    "Ahmed": 2,
    "Sara": 3
}

print(student_name.keys())  # Output: dict_keys(['Ali', 'Ahmed', 'Sara'])
print(student_name.values())  # Output: dict_values([1, 2, 3])
print(student_name.items())  # Output: dict_items([('Ali', 1), ('Ahmed', 2), ('Sara', 3)])

dict_keys(['Ali', 'Ahmed', 'Sara'])
dict_values([1, 2, 3])
dict_items([('Ali', 1), ('Ahmed', 2), ('Sara', 3)])

In [59]:
## how to use the clear funtion in the dic
## this will remove all the items from the dictionary but keep the dictionary object itself.with empty dictionary.

student_name.clear()
student_name

{}

In [65]:
## pop function in the dic

student_name.pop("Ali")  # Removes the key "Ali" and its value from the dictionary
print(student_name)  # Output: {'Ahmed': 2, 'Sara': 3}

{'Ahmed': 2, 'Sara': 3}

In [71]:
## get function in the dic

student_name = {
    "Ali": 1,
    "Ahmed": 2,
    "Sara": 3
}
print(student_name.get("Danish"))
print(student_name.get("Qasim", "Not Found"))  # Output: Not Found
print(student_name.get("Awais", 100))  # Output: 1

None
Not Found
100

In [72]:
student_name

{'Ali': 1, 'Ahmed': 2, 'Sara': 3}

üß∏ Shallow Copy ‚Äì Sharing the Same Toy
You and your best friend are playing with one teddy bear.
If your friend draws on the teddy bear‚Äôs face with a marker,
your teddy bear is also dirty, because it's the same teddy bear!

üß∏ Deep Copy ‚Äì Getting Your Own Teddy
Now imagine you both have your own teddy bears that look the same.
If your friend draws on their teddy bear,
your teddy bear stays clean, because it‚Äôs a different one!

Summary:
Shallow copy = sharing the same toy

Deep copy = getting your own toy

In [86]:
import copy

my_toy = ["Cat"]

friend_toy = copy.copy(my_toy)  # You give a copy to your friend (but it's shallow)

friend_toy[0] = "dirty teddy"  # Your friend changes the toy

print(my_toy)
print(friend_toy)

['Cat']
['dirty teddy']

In [80]:
import copy

my_toy = ["teddy"]  # You have a toy

friend_toy = copy.copy(my_toy)  # You give a copy to your friend (but it's shallow)

friend_toy[0] = "dirty teddy"  # Your friend changes the toy

print("My Toy:", my_toy)        # Uh-oh! Your toy also changed!
print("Friend's Toy:", friend_toy)

My Toy: ['teddy']
Friend's Toy: ['dirty teddy']

# üß∏ DEEP COPY ‚Äî New toy for friend

In [87]:
import copy

my_toy = ["CAT"]
friend_toy = copy.deepcopy(my_toy)  # You give a deep copy to your friend
friend_toy[0] = "LION"  # Your friend changes the toy

print("My Toy:", my_toy)        # Your toy remains unchanged
print("Friend's Toy:", friend_toy)  # Your friend's toy is changed

My Toy: ['CAT']
Friend's Toy: ['LION']

In [89]:
import copy

original = [1, 2, 3]
shallow_copy = copy.copy(original)

# You only read the data; no one changes it.
print("Original:", original)  # Output: Original: [1, 2, 3]
print("Shallow Copy:", shallow_copy)  # Output: Shallow Copy: [1, 2, 3]

Original: [1, 2, 3]
Shallow Copy: [1, 2, 3]

In [96]:
import copy 

student_name_with_roll_no =  [["Danish",1248],["Ali",1249],["Ahmed",1250]]

change_student_name_with_roll_no = copy.deepcopy(student_name_with_roll_no)

change_student_name_with_roll_no[0][0] = "Shamas"
change_student_name_with_roll_no[0][1] = 000000


print("Original List:", student_name_with_roll_no)  # Output: Original List: [['Danish', 1248], ['Ali', 1249], ['Ahmed', 1250]]

print("Changed List:", change_student_name_with_roll_no)  # Output: Changed List: [['Ali', 0], ['Ali', 1249], ['Ahmed', 1250]]

Original List: [['Danish', 1248], ['Ali', 1249], ['Ahmed', 1250]]
Changed List: [['Shamas', 0], ['Ali', 1249], ['Ahmed', 1250]]

update() adds or changes key-value pairs in a dictionary.

In [102]:
fruit = {"APPLE":1, "BANANA":2, "ORANGE":3}
print(fruit)  # Output: {'APPLE': 1, 'BANANA': 2, 'ORANGE': 3}
fruit.update({"MANGO":4})
print(fruit)  # Output: {'APPLE': 1, 'BANANA': 2, 'ORANGE': 3, 'MANGO': 4}
fruit.update({"APPLE":5})
print(fruit)  # Output: {'APPLE': 5, 'BANANA': 2, 'ORANGE': 3, 'MANGO': 4}

{'APPLE': 1, 'BANANA': 2, 'ORANGE': 3}
{'APPLE': 1, 'BANANA': 2, 'ORANGE': 3, 'MANGO': 4}
{'APPLE': 5, 'BANANA': 2, 'ORANGE': 3, 'MANGO': 4}

For loop function used in dict

In [110]:
fruit = {"apple": 5, "banana": 2, "cherry": 3, "orange": 4}
    
for value in fruit.values():
    print(value)  # Output: 5, 2, 3, 4 (each on a new line)

5
2
3
4

In [111]:
for keys in fruit.keys():
    print(keys)  # Output: apple, banana, cherry, orange (each on a new line)

apple
banana
cherry
orange

In [116]:
for key,value in fruit.items():
    print(key,value)  # Output: 5, 2, 3,

apple 5
banana 2
cherry 3
orange 4

list and tuple update then check what effect on memoru Addres

In [119]:
list1 = [1, 2, 3]
print(list1)  # Output: [1, 2, 3]

print("memmory",id(list1))  # Output: memory address of list1
list1.append(4)  # Append 4 to list1
print(list1)  # Output: [1, 2, 3, 4]
print("memmory",id(list1))  # Output: memory address of list1 (same as before)

[1, 2, 3]
memmory 2701828747840
[1, 2, 3, 4]
memmory 2701828747840

In [121]:
tup = (1, 2, 3)
print(tup)  # Output: (1, 2, 3)
print("memmory",id(tup))  # Output: memory address of tup
tup = (1, 2, 3, 4)  # Reassign tup to a new tuple
print(tup)  # Output: (1, 2, 3, 4)  
print("memmory",id(tup))  # Output: memory address of tup (different from before)

(1, 2, 3)
memmory 2701829433344
(1, 2, 3, 4)
memmory 2701828908880

Max and Min value find in tuple and List

In [123]:
list = [1, 2, 3]
print(max(list))  # Output: 3
print(min(list))  # Output: 1

3
1

In [128]:
tuple1 = (1, 2, 0)
print(max(tuple1))  # Output: 3
tuple2 = (1, 2, 3, 4, 5,1000)
print(max(tuple2))  # Output: 1000
print(min(tuple1))  # Output: 0
print(min(tuple2))  # Output: 1

2
1000
0
1

Len function apply on Tuple and List

In [130]:
list1 = [1, 2, 3]
print(len(list1))  # Output: 

tuple1 = (1, 2, 3,4,5,8,97,4,5,5,4,5,4,5,4,5,4,5,4,5,4,5,4)
print(len(tuple1))  # Output: 20

3
23

Python can "unpack" things like lists, tuples, or dictionary items into separate variables.

In [132]:
fruit  = ["apple", "banana", "cherry"]

fruit1,fruit2,fruit3 = fruit

print(fruit1)  # Output: apple
print(fruit2)  # Output: banana
print(fruit3)  # Output: cherry

apple
banana
cherry

In [133]:
fruit = {"apple": 5, "banana": 2, "cherry": 3, "orange": 4}

for fruit,price in fruit.items():
    print(fruit, price)  # Output: apple 5, banana 2, cherry 3, orange 4 (each on a new line)

apple 5
banana 2
cherry 3
orange 4

In [ ]:
fruits = ["apple", "banana", "cherry"]

a, b = fruits  # ‚ùå Too many values
ValueError: too many values to unpack (expected 2)